# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
debug*.py

spinwaves.egg*
.vscode/

# Local env
.venv
uv.lock

# Dirty tests
pyopengl.py
profile*
dirty/

# Some examples should be hidden
LuFeO3/
FeV2O4/
